# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
front/*.pnp
front/*.pnp.js

# testing
front/coverage

# production
front/build

# misc
.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

#backend
back/.venv
back/.env
back/data/
back/__pycache__/*
back/database.ini
back/src/__pycache__/*