.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	border-radius: 2em;
	background-color: #edf0f4;
	height: 1em;
}

.filepond--item-panel {
	background-color: #595e68;
}

.filepond--drip-blob {
	background-color: #7f8a9a;
}



.account-page {
  font-family: sans-serif;
  background-color: #fff;
}

.account-page avatar {
  margin-right: 1rem;
}

.account-page h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

.account-page list {
  margin-top: 1rem;
  padding: 1rem;
}

.account-page list item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.account-page list item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.account-page list item li {
  font-size: 1rem;
  font-weight: 400;
}

.account-page button {
  width: 50%;
  margin: auto;
}

.account-page divider {
  margin: 1rem 0;
}


/* 404 error css */

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
  font-weight: 500;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}